/086200334134422413 (1).pdf
/086200334134422413.pdf
/1.jpg
/149992801-EksamenBYFE1000V23_150165609_1684240065991 (1).mlx
/149992801-EksamenBYFE1000V23_150165609_1684240065991 (2).mlx
/149992801-EksamenBYFE1000V23_150165609_1684240065991.mlx
/1b6d4005-59e6-44e6-8d67-5e010477de3f.JPG
/1b7042be-95ce-4c08-8171-512552d31dc9.JPG
/2-20220117T152958Z-001.zip
/2.jpg
/2.Krefter og bevegelse.docx
/200121 Referat.docx
/2015h_tresem_eksamen_4s.pdf
/2015h_tresem_eksamen_loesningsforslag.pdf
/2019Aug.pdf
/2019Aug_LF.pdf
/2019Juni.pdf
/2019Juni_LF.pdf
/2020Aug (1).pdf
/2020Aug.pdf
/2020Aug_LF.pdf
/2020Juni.pdf
/2020Juni_LF.pdf
/20210818_OsloMET_-case14333 (1).pdf
/20210818_OsloMET_-case14333.pdf
/2021Aug.pdf
/2021Aug_LF.pdf
/2021Juni.pdf
/2021Juni_LF.pdf
/2023.05.15_Politi-_og_Lensmannsetaten_Politiattest.pdf
/210128 Svar til Tokerudtoppens melding til beboere (1).docx
/210128 Svar til Tokerudtoppens melding til beboere.docx
/21762E0F-8E5B-45C8-AFFF-A675994F4AFA (1).MP4
/21762E0F-8E5B-45C8-AFFF-A675994F4AFA.MP4
/3.jpg
/30092021, 1323 Microsoft Lens (1).pdf
/30092021, 1323 Microsoft Lens (2).pdf
/30092021, 1323 Microsoft Lens.pdf
/335024531_146879744635057_3417990087183190516_n.jpg
/335745739_603201618008028_8691667440459351811_n.jpg
/335894771_896244521495312_5623718765217509166_n.jpg
/346104081_601622845276449_5048226162716998855_n.jpg
/346160999_1596024567569479_4789066201779838826_n.jpg
/3ee009fd-ff50-46ba-93b8-2f1a756beee7.JPG
/4.jpg
/421Østfold.pdf
/5 Klima, natur og økonomi - norsk elbilpolitikk mandag 09.03.20 (1).pptx
/5 Klima, natur og økonomi - norsk elbilpolitikk mandag 09.03.20.pptx
/5.jpg
/515537378_1_1.PDF
/72203018032.pdf
/7560c228-3c0c-4729-8bb1-04ac76d7f3ba.JPG
/808ed7ef-116c-48f5-8eb8-7342ebb3dcd8.htm
/84183c87-839f-4f30-a4c8-c55e32ec8a86.JPG
/9AEFEADE-F7DF-455C-AE9A-3335ED712E0B-1.pdf
/Affidavit for Spouse Base POC_Spouse is Alive (1).pdf
/Affidavit for Spouse Base POC_Spouse is Alive.pdf
/algdat-2022-oblig-1.pdf
/Anaconda3-2023.07-2-Windows-x86_64.exe
/and.dwm
/ansatt.txt
/Arbeidsavtale - Flaggansvarlig (1).docx
/Arbeidsavtale - Flaggansvarlig (2).docx
/Arbeidsavtale - Flaggansvarlig (3).docx
/Arbeidsavtale - Flaggansvarlig.docx
/Argumentanalyse-draft.pdf
/Argumerende-tekst.docx
/assign1-2.pdf
/Automatisering av PuTTY (1).docx
/Automatisering av PuTTY.docx
/basismodell for kommunikasjon.png
/Bekreftelse Mohib PDF.pdf
/Bekreftelse på mottatt registrering av søknad om besøksvisum.zip
/Bestilling - hva skal leveres.pdf
/Bredbånd mars 2021.pdf
/BSU_Bankbytteskjema_Nadir_Ali.pdf
/Bærekraftig utvikling og teknologi (1).pptx
/Bærekraftig utvikling og teknologi.pptx
/C398vingnr2-LC3B8sning.pdf
/C398vingnr2.pdf
/Curriculum-Vitae (1).pdf
/Curriculum-Vitae (2).pdf
/Curriculum-Vitae.pdf
/Cv (1).pdf
/Cv.pdf
/d1064cc4-b5ba-4414-9f83-41c04e37f870 (1).htm
/d1064cc4-b5ba-4414-9f83-41c04e37f870.htm
/Danial-Dutt-CV.pdf
/Danish.docx
/Data 1100 assignment 3 - Task 2.docx
/data2410-course-overview.pdf
/Databaser2.pdf
/DB.Browser.for.SQLite-3.12.2-win64.msi
/Den nordiske modellen - økonomi og velferd (1).pptx
/Den nordiske modellen - økonomi og velferd.pptx
/desktop.ini
/Det politiske system (1).pptx
/Det politiske system.pptx
/Detection.exe
/Digital.exe
/DiscordSetup.exe
/Doc1.PDF
/Dokument (1).pdf
/Dokument (2).pdf
/dokument (3).pdf
/dokument.pdf
/Dokument3 (1).pdf
/Dokument3 (2).pdf
/Dokument3.pdf
/drive-download-20210209T131444Z-001.zip
/E-felt - prognose rehab 13.3.20 sammenlignet med Consolvo (1).xlsx
/E-felt - prognose rehab 13.3.20 sammenlignet med Consolvo.xlsx
/E-felt garasjen - Anbefaling 13.3.2020 (1).pdf
/E-felt garasjen - Anbefaling 13.3.2020.pdf
/E-Ticket (1).pdf
/E-Ticket - Nadir (1).pdf
/E-Ticket - Nadir.pdf
/E-Ticket.pdf
/eduroam-W10-OsloMet_eduroam_setup (1).exe
/eduroam-W10-OsloMet_eduroam_setup (2).exe
/eduroam-W10-OsloMet_eduroam_setup.exe
/eduVPNClient_latest (1).exe
/eduVPNClient_latest.exe
/Eksamen 2015_høst.pdf
/Eksamen 2015_høst_facit.pdf
/Eksamen 2015_vår.pdf
/Eksamen 2015_vår_facit.pdf
/Eksamen 2016_høst (1).pdf
/Eksamen 2016_høst (2).pdf
/Eksamen 2016_høst (3).pdf
/Eksamen 2016_høst.pdf
/Eksamen 2016_høst_facit (1).pdf
/Eksamen 2016_høst_facit (2).pdf
/Eksamen 2016_høst_facit (3).pdf
/Eksamen 2016_høst_facit.pdf
/Eksamen 2016_vår (1).pdf
/Eksamen 2016_vår.pdf
/Eksamen 2016_vår_facit (1).pdf
/Eksamen 2016_vår_facit.pdf
/Eksamen 2017-12-19.pdf
/Eksamen 2017-12-19_forslag.pdf
/Eksamen 2017_vår (1).pdf
/Eksamen 2017_vår (2).pdf
/Eksamen 2017_vår (3).pdf
/Eksamen 2017_vår (4).pdf
/Eksamen 2017_vår.pdf
/Eksamen 2017_vår_facit (1).pdf
/Eksamen 2017_vår_facit (2).pdf
/Eksamen 2017_vår_facit (3).pdf
/Eksamen 2017_vår_facit (4).pdf
/Eksamen 2017_vår_facit.pdf
/Eksamen 2018-12-19 (1).pdf
/Eksamen 2018-12-19 (2).pdf
/Eksamen 2018-12-19.pdf
/Eksamen 2018-12-19_forslag (1).pdf
/Eksamen 2018-12-19_forslag (2).pdf
/Eksamen 2018-12-19_forslag.pdf
/Eksamen 2019 (1).pdf
/Eksamen 2019 (2).pdf
/Eksamen 2019.pdf
/Eksamen 2019Vår(Bokmål) Matematikk (1).pdf
/Eksamen 2019Vår(Bokmål) Matematikk.pdf
/Eksamen 2019_løsningsforslag (1).pdf
/Eksamen 2019_løsningsforslag (2).pdf
/Eksamen 2019_løsningsforslag.pdf
/Eksamen 2020 høst (1).pdf
/Eksamen 2020 høst (2).pdf
/Eksamen 2020 høst (3).pdf
/Eksamen 2020 høst (4).pdf
/Eksamen 2020 høst sensorveiledning (1).pdf
/Eksamen 2020 høst sensorveiledning (2).pdf
/Eksamen 2020 høst sensorveiledning (3).pdf
/Eksamen 2020 høst sensorveiledning.pdf
/Eksamen 2020 høst.pdf
/Eksamen 2020.pdf
/Eksamen 2020_kont (1).pdf
/Eksamen 2020_kont (2).pdf
/Eksamen 2020_kont (3).pdf
/Eksamen 2020_kont (4).pdf
/Eksamen 2020_kont.pdf
/Eksamen 2020_kont_vedlegg.pdf
/Eksamen 2020_løsningsforslag_konte (1).pdf
/Eksamen 2020_løsningsforslag_konte (2).pdf
/Eksamen 2020_løsningsforslag_konte (3).pdf
/Eksamen 2020_løsningsforslag_konte.pdf
/Eksamen 2021.pdf
/eksamen 2022.pdf
/Eksamen august 2012.pdf
/Eksamen august 2014.pdf
/Eksamen august 2015.pdf
/Eksamen databaser vår 2019.pdf
/eksamen fysikk.pdf
/Eksamen i matematikk- 2019Vår Løsningsforslag.pdf
/Eksamen vår 2020.pdf
/Eksamen-2012 (1).pdf
/Eksamen-2012 (2).pdf
/Eksamen-2012 (3).pdf
/Eksamen-2012 (4).pdf
/Eksamen-2012.pdf
/Eksamen-2013 (1).pdf
/Eksamen-2013 (2).pdf
/Eksamen-2013.pdf
/Eksamen-2014 (1).pdf
/Eksamen-2014 (2).pdf
/Eksamen-2014.pdf
/Eksamen-2015 (1).pdf
/Eksamen-2015.pdf
/Eksamen-2016 (1).pdf
/Eksamen-2016.pdf
/Eksamen-2017.pdf
/Eksamen-2018.pdf
/Eksamen-2019 (1).pdf
/Eksamen-2019.pdf
/Eksamen-2020 (1).pdf
/Eksamen-2020.pdf
/eksamen-dats2300-2021 (1).pdf
/eksamen-dats2300-2021 (2).pdf
/eksamen-dats2300-2021 (3).pdf
/eksamen-dats2300-2021 (4).pdf
/eksamen-dats2300-2021 (5).pdf
/eksamen-dats2300-2021-lf (1).pdf
/eksamen-dats2300-2021-lf (2).pdf
/eksamen-dats2300-2021-lf (3).pdf
/eksamen-dats2300-2021-lf (4).pdf
/eksamen-dats2300-2021-lf (5).pdf
/eksamen-dats2300-2021-lf (6).pdf
/eksamen-dats2300-2021-lf (7).pdf
/eksamen-dats2300-2021-lf.pdf
/eksamen-dats2300-2021.pdf
/eksamen-dats2300-kont-2021 (1).pdf
/eksamen-dats2300-kont-2021 (2).pdf
/eksamen-dats2300-kont-2021 (3).pdf
/eksamen-dats2300-kont-2021 (4).pdf
/eksamen-dats2300-kont-2021 (5).pdf
/eksamen-dats2300-kont-2021 (6).pdf
/eksamen-dats2300-kont-2021-lf (1).pdf
/eksamen-dats2300-kont-2021-lf (2).pdf
/eksamen-dats2300-kont-2021-lf (3).pdf
/eksamen-dats2300-kont-2021-lf (4).pdf
/eksamen-dats2300-kont-2021-lf (5).pdf
/eksamen-dats2300-kont-2021-lf.pdf
/eksamen-dats2300-kont-2021.pdf
/EksamenDAFE1000Juni2022_BM.pdf
/Eksamen_juni_2016.pdf
/Eksamen_vår2017_Løsning (1).pdf
/Eksamen_vår2017_Løsning (2).pdf
/Eksamen_vår2017_Løsning.pdf
/Ekstraoppgave - Nilab og Mohib.pdf
/EpicInstaller-10.15.2-a3252b1f3ce94cf798c448640099e351.msi
/ES2089603-1 - Svar på søknad om tilskudd til elektrisk sykkel (1).pdf
/ES2089603-1 - Svar på søknad om tilskudd til elektrisk sykkel.pdf
/eticket-KH5UQR (1).pdf
/eticket-KH5UQR.pdf
/etikk 2020 (1).pptx
/etikk 2020.pptx
/etiske+retningslinjer.pdf
/EU og Norge (1).pptx
/EU og Norge.pptx
/ExampleTemplateProjectDocumentation-1.docx
/ExpenseApp-main.zip
/Film.txt
/Filmoppgave kap 2 (1).pdf
/Filmoppgave kap 2.pdf
/filmora-idco_setup_full1901.exe
/Filosofi- 2020.pptx
/Forberedelse til prøve i Industrihistorie modul 1.pdf
/Forberedende mattematikk til Fysikken .pdf
/Forelesning020222.pdf
/Forsikringsbevis og -vilkår for NITO Studentforsikring +MITT (Innbo) 2023.pdf
/FSP_FLO_IKT_2013_025_Del_2_-_Behovsbeskrivelse.docx
/Fullmakt kraftforvaltning med OBOS.doc
/Fullmakt overfor netteier_OBOS_Entelios.docx
/Fysikk - eksamen våren 2021 - bokmål - dato 21.5.21.pdf
/GeoGebra-Windows-Installer-5-0-639-0.exe
/Git-2.33.0.2-64-bit (1).exe
/Git-2.33.0.2-64-bit.exe
/Git-2.35.1.2-64-bit.exe
/github-recovery-codes.txt
/GitHubDesktopSetup-x64.exe
/Globalisering Kongsberg 2021 (1).pptx
/Globalisering Kongsberg 2021.pptx
/Globalisering,handelssamarbeid og demokrati Kongsberg 2021 PP med tekst og notater (1).pptx
/Globalisering,handelssamarbeid og demokrati Kongsberg 2021 PP med tekst og notater.pptx
/haven-win-x64-4.0.0-gui.zip
/heldagsprøve fk 29 april (1).docx
/heldagsprøve fk 29 april.docx
/Heldagsprøve jul 2020 (1).pdf
/Heldagsprøve jul 2020 (2).pdf
/Heldagsprøve jul 2020.pdf
/Hjelm.pdf
/hobbyhuset.sql
/HOVED.PDF
/ideaIU-2021.2.2.exe
/image0.jpeg
/IMG_0396.jpg
/Industrihistorie og Scientific Management..pdf
/Info om Fellesgarasjen til alle S-eiere i TT.docx
/Innlev 3-2021 (1).pdf
/Innlev 3-2021 (2).pdf
/Innlev 3-2021.pdf
/Innlev 3-2021løsning (1).pdf
/Innlev 3-2021løsning.docx
/Innlev 3-2021løsning.pdf
/Innlevering 1 (1).pdf
/Innlevering 1.pdf
/innlevering 4 - Mohib Ali.pdf
/Innlevering 5 - mohib (1).pdf
/Innlevering 5 - mohib (2).pdf
/Innlevering 5 - mohib.pdf
/Innmeldingsskjema_OBOS_Entelios.docx
/Introduksjon til JavaScript 1.pdf
/Introduksjon til JavaScript 2.pdf
/iperf-3.1.3-win64.zip
/Iqra & Muhib-20220117T153005Z-001.zip
/jdk-17_windows-x64_bin.exe
/JobAdvertisement_197913.pdf
/Jobbsøknad Nabobil - Mohib Ali.pdf
/jobsøknad.docx
/Journey Confirmation.pdf
/Kand 420 Vestlandet.pdf
/kap1 (1).pdf
/kap1.pdf
/Kap10-DevOps and Code management.pdf
/kap2.pdf
/karakterutskrift (1).pdf
/Karakterutskrift - Abdul.pdf
/Karakterutskrift - Danial.pdf
/Karakterutskrift - Mohib.pdf
/karakterutskrift.pdf
/Kildeoppgave.docx
/Klage-Nasrat-Beghum.docx
/Klagebrev til Christina Stensrud - snr 147 - ikke overholdt vedlikeholdsplikten (1).docx
/Klagebrev til Christina Stensrud - snr 147 - ikke overholdt vedlikeholdsplikten.docx
/Klagebrev til Christina Stensrud - snr 147 - ikke overholdt vedlikeholdsplikten.pdf
/Kommunikasjon og norsk - eksamen våren 2021 - bokmål  - dato 25.5.21.pdf
/Kommunikasjon og norsk - V21 - VEDLEGG 1 av 5 - Kommunikasjonsmodellen - dato 25.5.21.pdf
/Kommunikasjon og norsk - V21 - VEDLEGG 2 av 5 - Kommunikasjon - dato 25.5.21.pdf
/Kommunikasjon og norsk - V21 - VEDLEGG 3 av 5 - Kommunikasjon - dato 25.5.21.pdf
/Kommunikasjon og norsk - V21 - VEDLEGG 4 av 5 - Ordinær leteforskning - dato 25.5.21.pdf
/Kommunikasjon og norsk - V21 - VEDLEGG 5 av 5 - Dikt - dato 25.5.21.pdf
/Kompendie for JavaScript - Webprogrammering (1).docx
/Kompendie for JavaScript - Webprogrammering (1).pdf
/Kompendie for JavaScript - Webprogrammering.docx
/Kompendie for JavaScript - Webprogrammering.pdf
/Kompendie for Spring Boot - Webprogrammering - Rest-2.docx
/Kompendie for Spring Boot - Webprogrammering - Rest-2.pdf
/konsesjonslovene.pdf
/Konteeksamen 2020.pdf
/Konteeksamen 2021 (1).pdf
/Konteeksamen 2021.pdf
/kvalifikasjonsbevis (1).pdf
/kvalifikasjonsbevis (2).pdf
/kvalifikasjonsbevis.pdf
/Lab-2023-DAVE3625-main.zip
/Lab-assignment-1.zip
/Lab-assignment-3_Datanettverk.pdf
/lab3_datanettverk-og-skytjenester.pdf
/Langsvarsoppgave-gitt-til-eksamen-Vår2020.docx
/lec-intro-networks.pptx
/lecture1 (1).pdf
/lecture1.pdf
/Legeerklæring 06.06.pdf
/legetime nevro.pdf
/linux.pdf
/LoeysingsForslag_Juni2022.pdf
/Lonely Island 2021.pdf
/losningforslag_heldagsprøve (1).pdf
/losningforslag_heldagsprøve (2).pdf
/losningforslag_heldagsprøve.pdf
/LUOUke34_21.pdf
/Løsning fysikkprøve 25.02.21 (1).pdf
/Løsning fysikkprøve 25.02.21.pdf
/løsning prøve 08.05 (1).pdf
/løsning prøve 08.05.pdf
/Løsning prøve 6 mai 2021.pdf
/Løsningsforslag - Tidligere Eksamensoppgaver(samlet 2012-2017) (1).pdf
/Løsningsforslag - Tidligere Eksamensoppgaver(samlet 2012-2017) (2).pdf
/Løsningsforslag - Tidligere Eksamensoppgaver(samlet 2012-2017) (3).pdf
/Løsningsforslag - Tidligere Eksamensoppgaver(samlet 2012-2017).pdf
/Løsningsforslag 2018 (1).pdf
/Løsningsforslag 2018.pdf
/Løsningsforslag 2019.pdf
/Løsningsforslag 2020 (1).pdf
/Løsningsforslag 2020.pdf
/Løsningsforslag august 2012.pdf
/Løsningsforslag august 2014.pdf
/Løsningsforslag august 2015 (1).pdf
/Løsningsforslag august 2015.pdf
/Løsningsforslag eksamen 2020.pdf
/Løsningsforslag eksamen 2021.pdf
/Løsningsforslag innlevering 1 (1).pdf
/Løsningsforslag innlevering 1.pdf
/Løsningsforslag konteeksamen 2020.pdf
/Løsningsforslag konteeksamen 2021.pdf
/Løsningsforslag prøveeksamen 1.pdf
/Løsningsforslag prøveeksamen 2.pdf
/Løsningsforslag_juni_2016.pdf
/machine.dwm
/Mal utsending brev.docx
/Matematikk - aug 2016 - bokmål (1).pdf
/Matematikk - aug 2016 - bokmål.pdf
/Matematikk - aug 2016 - Løsningsforslag (1).pdf
/Matematikk - aug 2016 - Løsningsforslag.pdf
/Matematikk - bokmål - hjemmeeksamen - 20.5.20 (2).pdf
/Matematikk - eksamen V18 - bokmål - 30.5.18 (002) (1).pdf
/Matematikk - eksamen V18 - bokmål - 30.5.18 (002).pdf
/Matematikk - eksamen V21 - bokmål  - dato 28.5.21.pdf
/Matematikk - kont eksamen - bokmål - 3.8.17.pdf
/Matematikk - kont eksamen - løsningsforslag - 3.8.17.pdf
/Matematikk - løsningsforslag - hjemmeeksamen - 20.5.20 (1).pdf
/Matematikk - Løsningsforslag V18 - 30.5.18 (002) (1).pdf
/Matematikk - Løsningsforslag V18 - 30.5.18 (002).pdf
/Matematikk - mai 2016 - bokmål (1).pdf
/Matematikk - mai 2016 - bokmål.pdf
/Matematikk - mai 2016 - Løsningsforslag - oppdatert - 27 5 16 - 2 (1).pdf
/Matematikk - mai 2016 - Løsningsforslag - oppdatert - 27 5 16 - 2.pdf
/Matematikk - ordinær eksamen - bokmål - 24.5.17.pdf
/Matematikk 6.august 2019 - bokmål (1).pdf
/Matematikk 6.august 2019 - bokmål.pdf
/Matematikk 6.august 2019 - løsningsforslag (1).pdf
/Matematikk 6.august 2019 - løsningsforslag.pdf
/MatlabInnleveringV22-2 (1).mlx
/MatlabInnleveringV22-2 (2).mlx
/MatlabInnleveringV22-2 (3).mlx
/MatlabInnleveringV22-2 (4).mlx
/MatlabInnleveringV22-2 (5).mlx
/MatlabInnleveringV22-2 (6).mlx
/MatlabInnleveringV22-2.mlx
/Matte innlevering 2 (1).pdf
/Matte innlevering 2.pdf
/Matteprøve 2- 11.03.21 (1).docx
/Matteprøve 2- 11.03.21.docx
/Matteprøve 2- 11.03.21.docx (1).pdf
/Matteprøve 2- 11.03.21.docx (2).pdf
/Matteprøve 2- 11.03.21.docx.pdf
/Melding om ferie.docx
/Menstad.pdf
/message (1).txt
/message.txt
/MOM 17.06.22 .pdf
/MOM-17.06.22.pdf
/MyShop-12-InputValidation
/MyShop-12-InputValidation.zip
/MyShop-master.zip
/NAV 04-0605bm07-2016nett.pdf
/Oblig -2 (1).pdf
/Oblig -2 (2).pdf
/Oblig -2 (3).pdf
/Oblig -2.pdf
/Oblig 1 - Group W.pdf
/Oblig 1_ Foranalyse og kravhåndtering.pdf
/OBLIG-2-Databaser-1 (1).pdf
/OBLIG-2-Databaser-1 (2).pdf
/OBLIG-2-Databaser-1 (3).pdf
/OBLIG-2-Databaser-1.pdf
/oblig-3-template-master (1).zip
/oblig-3-template-master.zip
/oblig-os-1-endring-os.pdf
/Oblig1-H2021F14689.pdf
/oblig1DBH (1).pdf
/oblig1DBH (2).pdf
/oblig1DBH (3).pdf
/oblig1DBH (4).pdf
/oblig1DBH.pdf
/oblig2 (1).zip
/oblig2.zip
/oblig2oppgave1.zip
/ObligDAPE2101-1 (1).pdf
/ObligDAPE2101-1.pdf
/Oblig_1.2410.zip
/Oljehistorie-2020-FK.pptx
/Oppgave1_Kap4 (1).pdf
/Oppgave1_Kap4.pdf
/Oppgavesett 1 (1).pdf
/Oppgavesett 1 (2).pdf
/Oppgavesett 1.pdf
/Oppgavesett 2 (1).pdf
/Oppgavesett 2 (2).pdf
/Oppgavesett 2 (3).pdf
/Oppgavesett 2.pdf
/oppgavesett 3 (1).pdf
/oppgavesett 3 (2).pdf
/oppgavesett 3 (3).pdf
/oppgavesett 3 (4).pdf
/oppgavesett 3 (5).pdf
/oppgavesett 3.pdf
/OppstartOppgaaver (1).pdf
/OppstartOppgaaver.pdf
/Ortopedisk.pdf
/OS_Flervalgsoppgaver_alle_ukene (1).pdf
/OS_Flervalgsoppgaver_alle_ukene.pdf
/page1-merged.pdf
/Parkeringstillatelse for forflytningshemmede - vi ber om ytterligere opplysninger.PDF
/Pass Track.pdf
/payment-receipt (1).pdf
/payment-receipt.pdf
/performance-evaluation.pptx
/Personal-Portfolio-v1-master.zip
/PIMS form11.pdf
/portfolio-1.pdf
/portfolio-guidelines (1).pdf
/portfolio-guidelines.pdf
/presentasjon 11.desember formelle brev.pdf
/Presentasjon 12 mars - språk kapittel 11.pdf
/Presentasjon 15. januar litteræranalyse.pdf
/Presentasjon 18 februar prosjektarbeid vol2.pdf
/Presentasjon 26 mars retorikk del 2 (1).pdf
/Presentasjon 26 mars retorikk del 2.pdf
/presentasjon 4 desember muntlig kommunikasjon.pdf
/Presentasjon 5 februar - repetisjon tekster.pdf
/Presentasjon Uke 36 (1).pdf
/Presentasjon Uke 36.pdf
/Presentasjon Uke 37.pdf
/Presentasjon Uke 38.pdf
/Presentasjon Uke 41.pdf
/presentasjon uke 42.pdf
/presentasjon uke 43 (1).pdf
/presentasjon uke 43.pdf
/presentasjon uke 45.pdf
/presentasjon uke 46.pdf
/presentasjon uke 47.pdf
/Presentasjon Uke 6 - prosjektarbeid (1).pdf
/Presentasjon Uke 6 - prosjektarbeid (2).pdf
/Presentasjon Uke 6 - prosjektarbeid.pdf
/Pristilbud - Tokerudberget_Styret_30-11-2020.pdf
/Produktutvikling 2021 (1).pptx
/Produktutvikling 2021.pptx
/Produktutviklingsprosjektet_2021 (1).pdf
/Produktutviklingsprosjektet_2021.pdf
/Protocol-layering.pptx
/Prøve 1 -2020.docx
/Prøve 1 01.11.2019 (1).pdf
/Prøve 1 01.11.2019 løsning (1).pdf
/Prøve 1 01.11.2019 løsning (2).pdf
/Prøve 1 01.11.2019 løsning.pdf
/Prøve 1 01.11.2019.pdf
/Prøve 1 29.10.2020 løsning (1).pdf
/Prøve 1 29.10.2020 løsning.pdf
/Prøve 1 29.10.2020.docx
/Prøve 1 29.10.2020.docx (1).pdf
/Prøve 1 29.10.2020.docx (2).pdf
/Prøve 1 29.10.2020.docx.pdf
/Prøve 2 - fasit.docx
/Prøve 2 10.12.2020 (1).pdf
/Prøve 2 10.12.2020.pdf
/Prøve 2 10.12.2020løsning (1).pdf
/Prøve 2 10.12.2020løsning.pdf
/Prøve 2-2021 Løsning (1).pdf
/Prøve 2-2021 Løsning (2).pdf
/Prøve 2-2021 Løsning.pdf
/Prøve 2.docx
/Prøve 2.pdf
/prøve 3 - 06-05 (1).pdf
/prøve 3 - 06-05.docx
/prøve 3 - 06-05.pdf
/prøve 4 - 08-05 (1).pdf
/prøve 4 - 08-05.pdf
/prøve fk fysikk 25feb2021 (1).pdf
/prøve fk fysikk 25feb2021.pdf
/prøve modul 4 2021.docx
/Prøveeksamen 1.pdf
/Prøveeksamen 2.pdf
/Prøveeksamen 2021 (1).pdf
/Prøveeksamen 2021 (2).pdf
/Prøveeksamen 2021 innlevering 3.pdf
/Prøveeksamen 2021 løsningsforslag (1).pdf
/Prøveeksamen 2021 løsningsforslag (2).pdf
/Prøveeksamen 2021 løsningsforslag (3).pdf
/Prøveeksamen 2021 løsningsforslag.pdf
/Prøveeksamen 2021.pdf
/Prøveeksempel -2019 (1).pdf
/Prøveeksempel -2019.pdf
/prøveheldags26april (1).pdf
/prøveheldags26april-løsning (1).pdf
/prøveheldags26april-løsning.pdf
/prøveheldags26april.pdf
/Purring1_7360737_41967005_630.pdf
/putty-64bit-0.78-installer.msi
/python-3.11.2-amd64 (1).exe
/python-3.11.2-amd64 (2).exe
/python-3.11.2-amd64 (3).exe
/python-3.11.2-amd64.exe
/README.md
/readMeOblig2 (1).txt
/readMeOblig2.txt
/Registreringsblankett.pdf
/repetisjonsspørsmål til modul 2 - 2020.pdf
/Repetisjonsspørsmål til prøva.pdf
/Returetikett-9f7e71c0-a55b-413d-9f22-4fd880d064e2.pdf
/Returetikett-b21ea897-922b-40b9-9f23-3cea1ef249a1.pdf
/Returetikett-d566b8dc-ab9f-4afd-88c2-0cdb59d32b35.pdf
/Returetikett-de2f596c-5d14-4865-bbbb-1a91ff172086.pdf
/s 7208 innbetaling.pdf
/s341501.pdf
/SamsungUniversalPrintDriver3.exe
/schengen (1).pdf
/schengen.pdf
/Scientific management.pptx
/Screenshot_2022-07-05-23-30-37-44_f90b96e7af3c5a594eb0c92de7fc5fe1.jpg
/Sensorveiledning2019 (1).pdf
/Sensorveiledning2019.pdf
/sensorveiledning2020.pdf
/sensorveiledning2022.pdf
/Sensorveiledning_med_løsningsforslagvår 2020.pdf
/signatur-form.jpeg
/Signature form 300.png
/Signature form 600 (1).png
/Signature form 600.png
/Signature-Form (1).pdf
/Signature-Form.pdf
/simpleperfzip.zip
/Skattemelding 2019 (1).pdf
/Skattemelding 2019.pdf
/Skatteoppgjør (1).pdf
/Skatteoppgjør.pdf
/Skattetrekksmelding (1).pdf
/Skattetrekksmelding.pdf
/SkypeMeetingsApp.msi
/sortering.pdf
/Styremøte 03.02.21 Begjæring om tvangssalg.PDF
/Styremøte 03.02.21 klage fra steinar iversen.pdf
/Styremøte 03.02.21 klage garasjeplass 2.pdf
/Søknad NAV Kontaktsenter Oslo og Vest - Viken.docx
/Søknad-Crayon.pdf
/Søknad-Maske.pdf
/Takstrapport.pdf
/Teknologi og innovasjon  (1).pptx
/Teknologi og innovasjon .pptx
/Teknologi og samfunn - bokmål - hjemmeeksamen - 25.5.20.pdf
/Teknologi og samfunn - eksamen V18 - bokmål - 23.5.18.pdf
/Teknologi og samfunn - kont eksamen - bokmål - 8.8.2017.pdf
/Teknologi og samfunn - ordinær eksamen - bokmål - 18.5.2017.pdf
/Teknologi og samfunn - Sensorveiledning V18 - 23.5.18.pdf
/Teknologi og samfunn - Sensurveiledning - 25.5.20.pdf
/Teknologi og samfunn - våren 2021 - bokmål - dato 18.5.21.pdf
/Template-report.docx
/Tilbud.pdf
/Tilbudsskjema utkast_Tokerudberget_30-11-2020.pdf
/Timeliste april.xlsx
/Timeliste mars.xlsx
/Timelister (1).pdf
/Timelister (1).xlsx
/Timelister.xlsx
/Trepartssamarbeidet (1).pptx
/Trepartssamarbeidet.pptx
/TSLA.csv
/ubuntu-22.04.2-desktop-amd64.iso
/UiT Tromsø kandnr_32.pdf
/Uke34_ Egenverdier og egenvektorer.pdf
/Ukeoppgaver 34.pdf
/Ukesoppgaver01 - Løsningsforslag.pdf
/Ukesoppgaver01-Aspekter ved systemutvikling.pdf
/Ukesoppgaver02 - Løsningsforslag.pdf
/Ukesoppgaver02-Systemutviklingsprosseer.pdf
/Ukesoppgaver03 - Løsningsforslag (1).pdf
/Ukesoppgaver03 - Løsningsforslag.pdf
/uswa.docx
/uswa.pdf
/Utkast til argumentasjonsanalyse 11.09 (1).pdf
/Utkast til argumentasjonsanalyse 11.09 (2).pdf
/Utkast til argumentasjonsanalyse 11.09.pdf
/Utskiftning av vindu.pdf
/Variabler1.zip
/Varsel om tilsyn-41560 (1).pdf
/Varsel om tilsyn-41560 (2).pdf
/Varsel om tilsyn-41560.pdf
/Vedlegg Innmeldings- og anleggsliste.xlsx
/video-1654882309.mp4
/video-1656160424.mp4
/VirtualBox-7.0.6-155176-Win.exe
/VisualStudioSetup.exe
/Vitenskap, filosofi og etikk (1).pdf
/Vitenskap, filosofi og etikk.pdf
/Vitenskapsfilosofi 2020.pptx
/Vitnem_l (1).pdf
/Vitnem_l (2).pdf
/Vitnem_l.pdf
/VSCodeUserSetup-x64-1.60.2.exe
/Vår-23 Koble til server på pc (1).pdf
/Vår-23 Koble til server på pc (2).pdf
/Vår-23 Koble til server på pc.pdf
/WebApp_Oblig1-master
/WebApp_Oblig1-master (1)
/WebApp_Oblig1-master (1).zip
/WebApp_Oblig1-master.zip
/webserver-task1-skeleton-code.py
/Webutvikling-oblig-2 (1).pdf
/Webutvikling-oblig-2.pdf
/WinSCP-5.21.7-Setup.exe
/Wireshark-win64-4.0.3.exe
/Wireshark_HTTP_v8.1.pdf
/Wireshark_Intro_v8.1 (1).pdf
/Wireshark_Intro_v8.1.pdf
/xhv gains.keys
/zalando_returnsheetlabel_11601031172115_V1.pdf
/Årsrapport 2019.docx
/Øving nr 1 (1).pdf
/Øving nr 1.pdf
/Øving nr 2 (1).pdf
/Øving nr 2 - Løsning (1).pdf
/Øving nr 2 - Løsning.pdf
/Øving nr 2.pdf
/Øving nr 3 (1).pdf
/Øving nr 3 løsning (1).pdf
/Øving nr 3 løsning.pdf
/Øving nr 3.pdf
/Øving nr1løsning (1).pdf
/Øving nr1løsning.docx
/Øving nr1løsning.pdf
/Øving-nr-3-løsning (1).pdf
/Øving-nr-3-løsning (2).pdf
/Øving-nr-3-løsning (3).pdf
/Øving-nr-3-løsning.pdf